body{
    margin: 0 20px 0 20px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(59, 74, 55);
}

a{
    color: white;
    text-decoration-line: none;
    
}

.title-bar{
    width: 97%;
    height: 80px;
    position: fixed;
    background-color: rgb(59, 74, 55);
    z-index: 1;
}

.title-list{
    list-style: none;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding: 0;
}

.title-list .title{
    cursor: pointer;
    position: absolute;
    left: 10px;
    margin-left: 0;
}

.title-list .line-ani{
    position: relative;
    cursor: pointer;
}

.title-list .line-ani::after{
    content: '';
    width: 65px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.title-list .line-ani:hover::after,
.title-list .line-ani2:hover::after,
.title-list .line-ani3:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.title-list .line-ani2{
    position: relative;
    cursor: pointer;
}

.title-list .line-ani2::after{
    content: '';
    width: 75px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.title-list .line-ani3{
    position: relative;
    cursor: pointer;
}

.title-list .line-ani3::after{
    content: '';
    width: 50px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}


.title-list li{
    margin-left: 40px;
}


.title-contact {
    border: 1px solid;
    width: 200px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.title-contact::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    transition: height 0.25s ease-out;
    z-index: -1;
    will-change: height;

}

.title-contact:hover::before {
    height: 100%;
}

.title-contact:hover{
    color: rgb(59, 74, 55);
}



.home-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    width: 80%;
}

.home-text .left{
    margin-left: 100px;
    margin-bottom: 0;
    font-size: 1.7vw;
}

.home-text .strong-left,
.home-text .strong-right{
    font-size: 15vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    position: relative;
    bottom: -150px; /* start the text off the screen */
    animation: moveUp 2s forwards;
}

@keyframes moveUp {
    from {
      bottom: -150px;
    }
    to {
      bottom: 0;
    }
  }


.home-text .strong-right,
.home-text .right{
    display: flex;
    justify-content: flex-end;
}

.home-text .right{
    margin-right: 100px;
    font-size: 1.7vw;
}

.contents{
    width: 95%;
    height: 3600px;
    position: absolute;
    top: 55.125vw;
    left: 1.823vw;
    
}

.line, .line2, .line3, .line4{
    border: 1px solid white;
    width: 100%;
}

.line2{
    margin-top: 80px;
}

.line3{
    margin-top: 300px;
}

.line4{
    margin-top: 85px;
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

#about-me ul{
    list-style: none;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.my-img img{
    width: 45vw;
}

#about-me .my-info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1.3;
}


.career-info-group{
    display: flex;
    justify-content: space-between;
}

.career-title,
.skill-title,
.contactMe-title{
    color: white;
    font-size: 25px;
}

.career-info{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 50%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
}

.career-info::after{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.career-info p{
    position: absolute;
    width: 100%;
    height: 100%;
}


.career-info .when{
    margin-bottom: 46px;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    top: 80px;
}

.career-info .what{
    font-size: 5vw;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.career-info .how{
    font-size: 1.5vw;
    margin-top: 57px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 60px;
}

.contact-area{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.enter-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-img{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.link-img .notion,
.link-img .github{
    width: 150px;
}

.notion-text,
.github-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.notion-text{
    margin-right: 110px;
}


.Client-info{
    display: flex;
    flex-direction: column;
    position: relative;
}

.Client-info label{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}

.Client-info textarea{
    resize: none;
    width: 27vw;
    font-size: 15px;
    padding: 10px;
}

.Client-info .submit{
    border: 1px solid;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -110px;
}

.Client-info .submit:hover{
    color: rgb(59, 74, 55);
    background-color: white;
}

.accordion{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    
}

.accordion section{
    border: 1px solid;
    border-left: none;
    border-right: none;
    width: 49.063vw;
    color: white;
    
}

#project1, #project2, #project3, #project4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion a h1{
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.accordion a .plus{
    font-size: 80px;
    font-weight: 100;
    margin: 40px 0 40px 0;
}

.accordion p{
    font-size: 22px;
    font-weight: 100;
    display: block;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.accordion p.show{
    height: 15vh;
    font-size: 22px;
}
